$def with (page)

<html>
<head>
    <title>Bridge Health Monitoring Control Center</title>
    <link rel="stylesheet" type="text/css" href="/static/Styles/mobile.css" media="only screen and (max-device-width: 767px)" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/screen.css" media="only screen and (min-device-width: 768px)" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
</head>
<body>
	<!-- Define the header for the page -->
	<div id="header">
		<h1><a href="/">Bridge Health Control Center</a></h1>
	</div>
	<!-- Create the menu bar -->
	<div id="navBar">
		<ul>
			<li><h2><a href="/">Dashboard</a></h2></li>
			<li><h2><a href="/Stats">Stats</a></h2></li>
			<li><h2><a href="/Help">About</a></h2></li>
		</ul>
	</div>
	<!-- Display the main content -->
	<div id="content">
		$:page
	</div>
	<!-- Define the footer for the page -->
	<div id="footer">
		<div id="copyright">
			<h3>Copyright 2014, Matthew Iannucci</h3>
		</div>
	</div>
</div>
<!-- End the page layout -->
</body>
</html>