$def with (page)

<html>
<head>
    <title>Bridge Health Monitoring Control Center</title>
    <link rel="stylesheet" type="text/css" href="/static/Styles/mobile.css" media="only screen and (max-device-width: 767px)" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/screen.css" media="only screen and (min-device-width: 768px)" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.7/jquery.flot.min.js"></script>
    <script src="http://jquery-csv.googlecode.com/git/src/jquery.csv.js"></script>
    <script type="text/javascript" src="/static/Scripts/bridgecontrol.js"></script>
    <script>
	jQuery( document ).ready(function() {
  		alert( "welcome" );
	});

	function flotTextData() {
  		var options = {
    		series: {
      			lines: { show: true },
    		}
  		};
  		var data1 = [];
  		data1[0] = jQuery.csv.toArrays($('#NWdata').val(), {
    		onParseValue: jQuery.csv.hooks.castToScalar
  		});
  		flot1 = jQuery.plot(jQuery('#plotholder'), data1, options);
  		jQuery('#textP').text('happy');
	}
    </script>
</head>
<body>
	<!-- Define the header for the page -->
	<div id="header">
		<h1><a href="/">Bridge Health Control Center</a></h1>
	</div>
	<!-- Create the menu bar -->
	<hr>
	<div id="navBar" class="links">
		<ul>
			<li><a href="/">Dashboard</a></li>
			<li><a href="/stats">Stats</a></li>
			<li><a href="/help">About</a></li>
		</ul>
	</div>
	<hr>
	<!-- Display the main content -->
	<div id="content">
		$:page
	</div>
	<!-- Define the footer for the page -->
	<div id="footer">
		<div id="copyright">
			<h3>Copyright 2014, Matthew Iannucci</h3>
		</div>
	</div>
</div>
<!-- End the page layout -->
</body>
</html>